.gallery__items {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, auto);
	grid-auto-rows: 140px;
}

.gallery__item:nth-child(10n + 1) {
	grid-column: auto / span 1;
	grid-row: auto / span 2;
}
.gallery__item:nth-child(10n + 4) {
	grid-column: auto / span 2;
	grid-row: auto / span 2;
}
.gallery__item:nth-child(10n + 8) {
	grid-column: auto / span 1;
	grid-row: auto / span 2;
}
.gallery__item:nth-child(10n + 9) {
	grid-column: auto / span 2;
	grid-row: auto / span 2;
}
@media screen and (max-width: 768px) {
	.gallery__items {
		display: block;
	}
	.gallery__item {
		height: 200px;
	}
	.gallery__item:not(:last-child) {
		margin-bottom: 10px;
	}
}
