.log-item {
	display: flex;
	align-items: center;
	padding: 15px;
	width: 640px;
	font-size: 16px;
	line-height: 24px;
	color: #8c8c8c;
	background: #f8f8f7;
	border-radius: 10px;
}
.log-item:not(:last-child) {
	margin-bottom: 10px;
}
.log-time {
	padding: 3px 10px;
	width: 61px;
	font-size: 16px;
	line-height: 24px;
	background: #ffffff;
	border-radius: 5px;
	margin-right: 20px;
	color: #1d1d1d;
}
.log-id {
	font-weight: 500;
	color: #1d1d1d;
	margin: 0 5px;
}
.log-icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-left: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.log-icon--like {
	background-image: url(../../../image/search/like-color-30.png);
}
.log-icon--dislike {
	background-image: url(../../../image/search/dislike-color-30.png);
}
.log-icon--favourite {
	background-image: url(../../../image/search/fav-color-30.png);
}
