.log__item {
	display: flex;
	align-items: center;
	padding: 15px;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	color: #8c8c8c;
	background: var(--bg-grey-another);
	border-radius: 10px;
}
.log__text--table {
	display: flex;
	align-items: center;
	width: 100%;
}
.log__item:not(:last-child) {
	margin-bottom: 10px;
}
.log__time {
	padding: 3px 10px;
	width: 61px;
	font-size: 16px;
	line-height: 24px;
	background: var(--bg-another);
	border-radius: 5px;
	margin-right: 20px;
	color: var(--color);
}
.log__text.log__text--mobile {
	display: none;
}
.log__id {
	font-weight: 500;
	color: var(--color);
	/* margin: 0 5px; */
}

.log__icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-left: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.log__icon--like {
	background-image: url(../../../image/search/like-color-30.png);
}
.log__icon--dislike {
	background-image: url(../../../image/search/dislike-color-30.png);
}
.log__icon--favourite {
	background-image: url(../../../image/search/fav-color-30.png);
}

@media screen and (max-width: 767px) {
	.log__item {
		flex-direction: column;
	}
	.log__text--table {
		justify-content: space-between;
		margin-bottom: 10px;
	}
	.log__text {
		display: none;
	}
	.log__text.log__text--mobile {
		display: block;
	}
}
