.search-page__text {
	font-size: 20px;
	line-height: 29px;

	color: var(--grey-color);
	margin-bottom: 20px;
}
.search-page__name {
	font-weight: 500;
	text-transform: capitalize;
	color: var(--color);
}
