.select__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin-right: 10px;
	cursor: pointer;
}
.select__main {
	width: 226px;
	height: 40px;
	padding: 8px 10px;
	background: var(--bg-grey-another);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	border: 2px solid var(--bg-grey-another);
	transition: var(--transition);
}
.select__main:hover {
	border: 2px solid #fbe0dc;
}

.select__main--title {
	font-size: 16px;
	line-height: 24px;
	color: var(--grey-color);
}
.select__main--dropdown {
	display: block;
	width: 12px;
	height: 12px;
	background: url(../../image/sort/dropdown-12.png) no-repeat center;
}
.select__options {
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	padding: 20px;
	width: 300px;
	max-height: 300px;
	background: var(--bg-grey);
	border-radius: 30px;
	overflow: auto;
	z-index: 5;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.select__options::-webkit-scrollbar {
	width: 2px;
}
.select__option:not(:last-child) {
	margin-bottom: 10px;
}
.select__option {
	font-size: 16px;
	line-height: 24px;
	color: var(--grey-color);
	transition: var(--transition);
}
.select__option:hover {
	color: var(--color);
}
.select__options--active {
	display: block;
}
@media screen and (max-width: 424px) {
	.select__options {
		width: 100%;
	}
}
