.back-button {
	width: 40px;
	height: 40px;
	background: url(../../image/back/back-20.png) no-repeat center, #fbe0dc;
	border-radius: 10px;
	margin-right: 10px;
}
.back-button:hover {
	width: 40px;
	height: 40px;
	background: url(../../image/back/back-white-20.png) no-repeat center, #ff868e;
	border-radius: 10px;
}
