.search-bar__box {
	display: flex;
	margin-bottom: 10px;
}
.search-bar__form {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 470px;
	height: 60px;
	border: 2px solid var(--bg);
	background: var(--bg);
	border-radius: 20px;
	margin-right: 10px;
	transition: var(--transition);
}
.search-bar__form:hover {
	border: 2px solid #fbe0dc;
}

input:focus,
.search-bar__input {
	flex-grow: 1;
	padding: 5px 10px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	background-color: transparent;
	color: var(--color);
}

.search-bar__submit {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background-color: var(--btn-bg-hover);
	background-image: url(../../image/search/search-20.png);
	background-position: center;
	background-repeat: no-repeat;
	transition: var(--transition);
}
.search-bar__submit:hover {
	background-color: var(--btn-bg-active);
	background-image: url(../../image/search/search-white-20.png);
}

.search-bar__nav {
	display: flex;
}
.search-bar__nav-link {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 20px;
	transition: var(--transition);
}

.search-bar__nav-link--likes {
	background: url(../../image/search/like-30.png) no-repeat center, var(--btn-bg-default);
}
.search-bar__nav-link--likes:hover {
	background: url(../../image/search/like-30.png) no-repeat center, var(--btn-bg-hover);
}
.search-bar__nav-link--likes.search-bar__nav-link--active:hover,
.search-bar__nav-link--likes.search-bar__nav-link--active {
	background: url(../../image/search/like-white-30.png) no-repeat center, var(--btn-bg-active);
}

.search-bar__nav-link--favourites {
	background: url(../../image/search/fav-30.png) no-repeat center, var(--btn-bg-default);
}
.search-bar__nav-link--favourites:hover {
	background: url(../../image/search/fav-30.png) no-repeat center, var(--btn-bg-hover);
}
.search-bar__nav-link--favourites.search-bar__nav-link--active:hover,
.search-bar__nav-link--favourites.search-bar__nav-link--active {
	background: url(../../image/search/fav-white-30.png) no-repeat center, var(--btn-bg-active);
}
.search-bar__nav-link:not(:last-child) {
	margin-right: 10px;
}
.search-bar__nav-link--dislikes {
	background: url(../../image/search/dislike-30.png) no-repeat center, var(--btn-bg-default);
}
.search-bar__nav-link--dislikes:hover {
	background: url(../../image/search/dislike-30.png) no-repeat center, var(--btn-bg-hover);
}
.search-bar__nav-link--dislikes.search-bar__nav-link--active:hover,
.search-bar__nav-link--dislikes.search-bar__nav-link--active {
	background: url(../../image/search/dislike-white-30.png) no-repeat center, var(--btn-bg-active);
}
.search-bar__nav-link:not(:last-child) {
	margin-right: 10px;
}
