.btn-upload {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 30px;

	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--btn-color);
	background: var(--btn-bg-hover);
	border-radius: 10px;
	margin-left: auto;
	transition: var(--transition);
}
.btn-upload__icon {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../../image/upload/upload-16.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
	transition: var(--transition);
}
.btn-upload:hover {
	background-color: var(--btn-bg-active);
	color: var(--btn-active-color);
}
.btn-upload:hover .btn-upload__icon {
	background-image: url(../../image/upload/upload-white-16.png);
}
@media screen and (max-width: 767px) {
	.btn-upload {
		width: 100%;
	}
}
