.breed-page--mobile {
	display: flex;
	align-items: center;
}
.btn-sort {
	width: 40px;
	height: 40px;
	background-color: var(--bg-grey-another);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	border: 2px solid var(--bg-grey-another);
	transition: var(--transition);
}

.btn-sort:not(:last-child) {
	margin-right: 10px;
}
.btn-sort--ZA {
	background-image: url(../../image/sort/sort-20.png);
}
.btn-sort--ZA:hover,
.btn-sort--ZA--active {
	background-image: url(../../image/sort/sort-color-20.png);
	border: 2px solid #fbe0dc;
}
.btn-sort--AZ {
	background-image: url(../../image/sort/soft-revert-20.png);
}
.btn-sort--AZ:hover,
.btn-sort--AZ--active {
	background-image: url(../../image/sort/sort-revert-color-20.png);
	border: 2px solid #fbe0dc;
}

@media screen and (max-width: 767px) {
	.breed-page--mobile {
		justify-content: space-between;
		width: 100%;
	}
	.breed-page__top {
		flex-wrap: wrap;
		gap: 10px;
		width: 100%;
	}
	.breed-page__top .btn-info,
	.breed-page__top .back-btn {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: 0;
	}
	.select__box {
		max-width: 100%;
	}
}
