.App {
	position: relative;
	display: flex;
	max-width: 1440px;
	margin: 0 auto;
}

/* right box */

.page-box {
	padding: 20px;
	min-height: 600px;
	background: var(--bg);
	border-radius: 20px;
}
.page-top {
	display: flex;
	margin-bottom: 20px;
}

@media screen and (max-width: 1439px) {
	.App {
		justify-content: center;
		max-width: 768px;
	}
	.page-box {
		max-width: 708px;
	}
}
@media screen and (max-width: 767px) {
	.App {
		max-width: 425px;
	}
}
@media screen and (max-width: 424px) {
	.App {
		max-width: 320px;
	}
}
