:root {
	--color: #1d1d1d;
	--grey-color: #8c8c8c;
	--btn-color: #ff868e;
	--btn-active-color: #ffffff;

	--body-bg: #f8f8f7;
	--bg: #ffffff;
	--bg-another: #ffffff;
	--bg-grey: #f8f8f7;
	--bg-grey-another: #f8f8f7;
	--bg-grey-white: #ffffff;

	--btn-bg-default: #ffffff;
	--btn-bg-hover: #fbe0dc;
	--btn-bg-active: #ff868e;

	--img-border-hover: #ffffff;
	--img-border-active: #fbe0dc;

	--transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
