.breeds-item {
	position: relative;
	cursor: pointer;
}
.breeds-img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.breeds-item:before {
	content: " ";
	opacity: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 134, 142, 0.6);
	border-radius: 20px;
	z-index: 2;
	transition: var(--transition);
}

.breeds-img-name {
	position: absolute;
	display: block;
	opacity: 0;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	width: 180px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #ff868e;
	background: #ffffff;
	border-radius: 10px;
	z-index: 3;
	transition: var(--transition);
}
.breeds-item:hover .breeds-img-name,
.breeds-item:hover::before {
	opacity: 1;
}
