.breeds__item {
	position: relative;
	cursor: pointer;
}
.breeds__img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.breeds__item:before {
	content: " ";
	opacity: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 134, 142, 0.6);
	border-radius: 20px;
	z-index: 2;
	transition: var(--transition);
}

.breeds__img-name {
	position: absolute;
	display: block;
	opacity: 0;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	width: 180px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #ff868e;
	background: var(--bg-grey-white);
	border-radius: 10px;
	z-index: 3;
	transition: var(--transition);
}
.breeds__item:hover .breeds__img-name,
.breeds__item:hover::before {
	opacity: 1;
}
